<div class="hero bg-base-200 min-h-screen">
  @if (!registerMode()) {
    @if (accountService.currentUser()) {
      <div class="hero-content text-center">
        <div class="flex flex-col items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-42 text-primary">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
          </svg>

          <h1 class="text-5xl font-bold">Buy and Sell</h1>
          <p class="py-6">A convenient way to buy and sell your items</p>
          <div class="flex items-center gap-3">
            <button routerLink="/users" class="btn btn-primary btn-lg">Browse Auctions</button>
            <button routerLink="/sell" class="btn btn-info btn-lg">Sell</button>
          </div>
        </div>
      </div>
    } @else {
      <div class="hero-content text-center">
        <div class="flex flex-col items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-42 text-primary">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
          </svg>

          <h1 class="text-5xl font-bold">Buy and Sell</h1>
          <p class="py-6">A convenient way to buy and sell your items</p>
          <div class="flex items-center gap-3">
            <button (click)="showRegister(true)" class="btn btn-primary btn-lg">Register</button>
            <button class="btn btn-info btn-lg">Learn More</button>
          </div>
        </div>
      </div>
    }
  } @else {
    <div class="w-full text-2xl text-center flex justify-center">
      <app-register class="w-full"
                    (cancelRegister)="showRegister($event)">
      </app-register>
    </div>
  }

</div>
